__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv

# Environments & secrets
.env
.env.*
!.env.example
*.env

# Testing & Linting
.pytest_cache
.coverage
htmlcov
.ruff_cache
.mypy_cache

# Logs & DBs
*.log
*.sqlite3
*.db

# Git & Editor
.git
.gitignore
.DS_Store
.vscode
.idea
